@page "/maintenance/history/viewrequest/{ID:int}"
@using EMS.Model.Entities
<PageTitle>Yêu cầu bảo trì</PageTitle>


@rendermode InteractiveServer

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Yêu cầu bảo trì thiết bị tương ứng</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item"><a href="/maintenance/history">Lịch sử bảo trì thiết bị</a></li>
					<li class="breadcrumb-item active">Xem Yêu cầu bảo trì thiết bị tương ứng</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Yêu cầu bảo trì thiết bị</h3>
	</div>
	<div class="card-body">
		<table id="example1" class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>Người tạo</th>
					<th>Thiết bị</th>
					<th>Lý do yêu cầu</th>
					<th>Người duyệt cấp 2</th>
					<th>Lý do chấp nhận</th>
					<th>Người duyệt cấp 3</th>
					<th>Lý do chấp nhận</th>
					<th>Trạng thái bảo trì(nếu có)</th>
					<th>Hành động</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@Model.ID</td>
					<td>@Model.User.Username</td>
					<td>@Model.Equipment.EquipmentName</td>
					<td>@Model.RequestReason</td>
					<td>@Model.ReviewerLv2.Username</td>
					<td>@Model.ReasonLv2</td>
					<td>@Model.ReviewerLv3.Username</td>
					<td>@Model.ReasonLv3</td>
					<td>
						@(Model.MaintenanceStatus switch
						{
							MaintenanceStatus.Pending => "Chưa giải quyết",
							MaintenanceStatus.InProgress => "Đang bảo trì",
							MaintenanceStatus.Completed => "Hoàn thành",
							_ => "Không xác định"
						})
					</td>
					<td>
						<a class="btn btn-secondary" href="/rotating/history">Trở về</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>