@page "/liquidation/requestlv2"

@if (LiquidationRequestModels == null)
{
	<p>Đang tải ...</p>
}
else
{
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Quản lý Yêu cầu luân chuyển cần được phê duyệt cấp 3</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
						<li class="breadcrumb-item active">Yêu cầu luân chuyển cần được phê duyệt cấp 3</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Yêu cầu luân chuyển cần được phê duyệt cấp 3</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Người tạo</th>
										<th>Thiết bị</th>
										<th>Lý do yêu cầu</th>
										<th>Lý do chấp nhận</th>
										<th>Người duyệt cấp 2</th>
										<th>Hành động</th>
									</tr>
								</thead>

								<tbody>
									@foreach (var request in LiquidationRequestModels)
									{
										<tr>
											<td>@request.ID</td>
											<td>@request.User.Username</td>
											<td>@request.Equipment.EquipmentName</td>
											<td>@request.RequestReason</td>
											<td>@request.ReasonLv2</td>
											<td>@request.ReviewerLv2.Username</td>
											<td>
												<a class="btn btn-secondary" href="/liquidation/requestlv2/approve/@request.ID">Cập nhật</a>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>

}
