@page "/purchasing/ownrequest"

@if (OwnPurchasingRequestModels == null)
{
	<p>Đang tải ...</p>
}
else
{
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Quản lý Yêu cầu luân chuyển của tôi</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
						<li class="breadcrumb-item active">Yêu cầu mua mới của tôi</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Yêu cầu mua mới của tôi</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<p>
								<a class="btn btn-primary" href="/purchasing/create">Tạo mới</a>
							</p>
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Người tạo</th>
										<th>Lý do yêu cầu</th>
										<th>Trạng thái duyệt cấp 2</th>
										<th>Trạng thái duyệt cấp 3</th>
										<th>Chi tiết</th>
										<th>Hành động</th>
									</tr>
								</thead>

								<tbody>
									@foreach (var request in OwnPurchasingRequestModels)
									{
										<tr>
											<td>@request.ID</td>
											<td>@request.User.Username</td>
											<td>@request.RequestReason</td>
											<td>
												@(request.AcceptanceLv2Status.HasValue ?
																						(request.AcceptanceLv2Status.Value ? "Đã duyệt" : "Từ chối") : "Chưa duyệt")
											</td>
											<td>
												@(request.AcceptanceLv3Status.HasValue ?
																						(request.AcceptanceLv3Status.Value ? "Đã duyệt" : "Từ chối") : "Chưa duyệt")
											</td>
											<td>
												<ul>
													@foreach (var detail in request.PurchasingRequestDetails)
													{
														<li>
															@detail.EquipmentType.EquipmentTypeName - Số lượng: @detail.Quantity
														</li>
														<li>
															Nhà cung cấp: @detail.Supplier
														</li>
														<li>
															Giá: @detail.Price
														</li>
													}
												</ul>
											</td>
											<td>
												<a class="btn btn-secondary" href="/rotating/ownrequest/update/@request.ID">Cập nhật</a>
												<button class="btn btn-danger" @onclick="()=> { DeleteID = request.ID; Modal.Open();}">Xoá</button>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>

	<AppModal @ref="Modal">
		<Title>Notification</Title>
		<Body>
			Bạn có muốn xoá yêu cầu này này ?
		</Body>
		<Footer>
			<button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Không</button>
		</Footer>
	</AppModal>
}