@page "/rotating/ownrequest"

@if (OwnRotatingRequestModels == null)
{
	<p>Loading ...</p>
}
else
{
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Quản lý Yêu cầu luân chuyển của tôi</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
						<li class="breadcrumb-item active">Yêu cầu luân chuyển của tôi</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Yêu cầu luân chuyển của tôi</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<p>
								<a class="btn btn-primary" href="/rotating/ownrequest/create">Tạo mới</a>
							</p>
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Người tạo</th>
										<th>Thiết bị</th>
										<th>Từ Khoa/phòng</th>
										<th>Đến Khoa/phòng</th>
										<th>Lý do yêu cầu</th>
										<th>Hành động</th>
									</tr>
								</thead>

								<tbody>
									@foreach (var OwnRotatingRequest in OwnRotatingRequestModels)
									{
										<tr>
											<td>@OwnRotatingRequest.ID</td>
											<td>@OwnRotatingRequest.User.Username</td>
											<td>@OwnRotatingRequest.Equipment.EquipmentName</td>
											<td>@OwnRotatingRequest.FromDepartment.DepartmentName</td>
											<td>@OwnRotatingRequest.ToDepartment.DepartmentName</td>
											<td>@OwnRotatingRequest.RequestReason</td>
											<td>
												<a class="btn btn-secondary" href="/rotating/ownrequest/update/@OwnRotatingRequest.ID">Cập nhật</a>
												<button class="btn btn-danger" @onclick="()=> { DeleteID = OwnRotatingRequest.ID; Modal.Open();}">Xoá</button>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>

	<AppModal @ref="Modal">
		<Title>Notification</Title>
		<Body>
			Bạn có muốn xoá yêu cầu này này ?
		</Body>
		<Footer>
			<button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Không</button>
		</Footer>
	</AppModal>
}
