@page "/rotating/approved"
@using EMS.Model.Entities
<PageTitle>Yêu cầu luân chuyển đã được phê duyệt</PageTitle>


@if (RotatingRequestModels == null)
{
	<p>Đang tải ...</p>
}
else
{
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Quản lý Yêu cầu luân chuyển đã hoàn thành phê duyệt</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
						<li class="breadcrumb-item active">Yêu cầu luân chuyển đã phê duyệt</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Yêu cầu luân chuyển đã hoàn thành phê duyệt</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Người tạo</th>
										<th>Thiết bị</th>
										<th>Từ Khoa/phòng</th>
										<th>Đến Khoa/phòng</th>
										<th>Lý do yêu cầu</th>
										<th>Người duyệt cấp 2</th>
										<th>Lý do chấp nhận</th>
										<th>Người duyệt cấp 3</th>
										<th>Lý do chấp nhận</th>
										<th>Hành động</th>
									</tr>
								</thead>

								<tbody>
									@foreach (var rotatingRequest in RotatingRequestModels)
									{
										<tr>
											<td>@rotatingRequest.ID</td>
											<td>@rotatingRequest.User.Username</td>
											<td>@rotatingRequest.Equipment.EquipmentName</td>
											<td>@rotatingRequest.FromDepartment.DepartmentName</td>
											<td>@rotatingRequest.ToDepartment.DepartmentName</td>
											<td>@rotatingRequest.RequestReason</td>
											<td>@rotatingRequest.ReviewerLv2.Username</td>
											<td>@rotatingRequest.ReasonLv2</td>
											<td>@rotatingRequest.ReviewerLv3.Username</td>
											<td>@rotatingRequest.ReasonLv3</td>
											<td>
												@if (rotatingRequest.RequestStatus == RequestStatus.InProgress)
												{
													<a class="btn btn-secondary" href="/rotating/approved/rotate/@rotatingRequest.ID">Luân chuyển</a>
												}
												else if (rotatingRequest.RequestStatus == RequestStatus.Completed)
												{
													<a class="btn btn-secondary" href="/rotating/history">Xem lịch sử</a>
												}
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>
}
