@page "/equipment"
@using EMS.Web.Components.BaseComponents
@using EMS.Model.Entities



@if (EquipmentModels == null)
{
	<p>Đang tải ...</p>
}
else
{
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Quản lý Thiết bị</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
						<li class="breadcrumb-item active">Thiết bị</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Danh sách Thiết bị</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<p>

								<a class="btn btn-primary" href="/equipment/createequipment">Tạo thiết bị</a>
							</p>
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tên thiết bị</th>
										<th>Mã Model</th>
										<th>Số Serial</th>
										<th>Loại thiết bị</th>
										<th>Giá</th>
										<th>Ngày mua</th>
										<th>Trạng thái</th>
										<th>Ngày hết hạn</th>
										<th>Phòng/khoa</th>
										<th>Thuộc người dùng</th>
										<th>Hành động</th>
									</tr>
								</thead>

								<tbody>
									@foreach (var equipment in EquipmentModels)
									{
										<tr>
											<td>@equipment.ID</td>
											<td>@equipment.EquipmentName</td>
											<td>@equipment.EquipmentModelCode</td>
											<td>@equipment.EquipmentSerial</td>
											<td>@equipment.EquipmentType?.EquipmentTypeName</td>
											<td>@equipment.Price</td>
											<td>@(equipment.PurchaseDay.ToString("dd/MM/yyyy"))</td>
											<td>@(equipment.Status switch
												{
													EquipmentStatus.DangSuDung => "Đang sử dụng",
													EquipmentStatus.DangBaoTri => "Đang bảo trì",
													EquipmentStatus.KhongSuDung => "Không sử dụng",
												_ => "Không xác định"
												})
											</td>
											<td>@(equipment.ExpireDay.ToString("dd/MM/yyyy"))</td>
											<td>@equipment.Department?.DepartmentName</td>
											<td>
												@if (equipment.User == null)
												{
													<span>không có</span>
												}
												else
												{
													<span>@equipment.User?.Username</span>
												}
											</td>
											<td>
												<a class="btn btn-secondary mb-2" href="/equipment/update/@equipment.ID">Cập nhật</a>
												<a class="btn btn-primary mb-2" href="/rotating/create/@equipment.ID">Luân chuyển</a>
												<button class="btn btn-danger" @onclick="()=> { DeleteID = equipment.ID; Modal.Open();}">Xoá</button>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>

	<AppModal @ref="Modal">
		<Title>Notification</Title>
		<Body>
			Bạn có muốn xoá thiết bị này ?
		</Body>
		<Footer>
			<button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Không</button>
		</Footer>
	</AppModal>
}
